body {
    background-color: lightgrey;
}

.container-1 {
    margin-top: 30%;
}

.container-1 h1 {
    font-size: 36px;
}

.container-2 img {
    width: 450px;
    margin-top: 7%;
    

}

.container-3 {
    background-color: white;
    height: 510px;
    border-radius: 25px;
    margin-bottom: 15px;
}


.container-3 img {
    width: 450px;
    padding-top: 50px;
}

.container-3  .firstmac {
    color: red !important;
    margin-top: 8%;
    font-weight:300;
    padding: 5px;
}

.container-3 a  {
    text-decoration: none !important;
    color: black;
    font-size: 20px;
    
}
 
.container-3 a:hover {
    color: blue;
    transition: ease-in-out .3;
}


.container-4 {
    background-color: white;
    height: 510px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.container-4 img {
    width: 450px;
    padding-top: 30px;
}

.container-4 .secondmac {
    color: red;
    margin-top: 4.14%;
    font-weight:300;
    padding: 5px;
}

.container-4 a  {
    text-decoration: none !important;
    color: black;
    font-size: 20px;
}
 
.container-4 a:hover {
    color: blue;
    transition: ease-in-out .3;
}

.container-5 {
    background-color: white;
    height: 490px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.container-5 img {
    height: 50%;
    padding-top: 50px;
    width: 50%;
    background-color: white;
    margin-bottom: 10%;

}

.container-5 a  {
    text-decoration: none !important;
    color: black;
    font-size: 20px;
}
 
.container-5 a:hover {
    color: blue;
    transition: ease-in-out .3;
}

.container-6 {
    background-color: white;
    height: 490px;
    border-radius: 25px;
    margin-bottom: 15px;
}

.container-6  img {
    height: 50%;
    padding-top: 50px;
    width: 50%;
    background-color: white;
    margin-bottom: 10%;
}


.container-6 a  {
    text-decoration: none !important;
    color: black;
    font-size: 20px;
}
 
.container-6 a:hover {
    color: blue;
    transition: ease-in-out .3;
}

.container-7 {
    background-color: white;
    height: 510px;
    border-radius: 25px;
    margin-bottom: 15px;
    width:500px;
    margin: 0 auto
}

.container-7 img {
    width: 40%;
    margin-bottom: 5%;
}

.container-7 a  {
    text-decoration: none !important;
    color: black;
    font-size: 20px;
}
 
.container-7 a:hover {
    color: blue;
    transition: ease-in-out .3;
}

.footer {
    
    
    height: 60px;
    margin: 0 auto;
    width: 90%
}

.footer h3 {
    margin-top: 35px;
    font-weight: 350;
}

.footer a {
    text-decoration: none;
    color: black;
}

.footer h3:hover{
    color: blue;
    transition: ease-in-out .3;
}

.footer .copyright {
    font-size: 12px;
    margin-top: 35px;
    border-top: lightgrey 1px solid;
}